<!-- Banners Carousel -->
<section class="banners-carousel">
    <div id="carousel-banner" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators bg-transparent">
            <button type="button" data-bs-target="#carousel-banner" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel-banner" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel-banner" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <!-- Indicators -->

        <!-- Banner  -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a routerLink="product">
                    <img src="../../../assets/images/elden-ring-banner.jpg" class="d-block banner-img img-fluid w-100"
                        alt=" first highlight">
                </a>
                <div class="carousel-caption d-none d-md-block highlight-desc">
                    <h5>O NOVO RPG DE AÇÃO E FANTASIA</h5>
                    <p> Levante-se, Maculado, e seja
                        guiado pela graça
                        para
                        portar o poder do Anel Prístino e se tornar
                        um Lorde Prístino nas Terras Intermédias.</p>
                </div>
            </div>
            <!-- Banner  -->

            <div class="carousel-item highlight-desc">
                <a routerLink="product">
                    <img src="../../../assets/images/the-quarry-banner.jpg" class="d-block banner-img w-100 img-fluid"
                        alt="second highlight">
                </a>
                <div class="carousel-caption d-none d-md-block highlight-desc">
                    <h5 class="fw-bold">INOVAÇÃO DO TERROR</h5>
                    <p>A única coisa pior que os moradores locais sanguinários e as criaturas sinistras que estão
                        caçando eles são as escolhas que você vai ter que fazer para eles sobreviverem.</p>
                </div>
            </div>

            <div class="carousel-item">
                <a routerLink="product">
                    <img src="../../../assets/images/cod-modern-warfare-2-banner.png"
                        class="d-block banner-img w-100 img-fluid" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block highlight-desc">
                    <h5 class="fw-bold">RENOVADO</h5>
                    <p>Call of Duty®: Modern Warfare® II coloca os jogadores dentro de um conflito global sem
                        precedentes que conta com o retorno dos Operadores icônicos da Força-Tarefa 141.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Banners Carousel -->

<!-- Trending Products Carousel -->
<section class="trending-carousel pt-5 pb-5">
    <div class="container">
        <div class="row">
            <!-- Header -->
            <div class="col-6">
                <h2 class="mb-3">Em Alta</h2>
            </div>
            <!-- Header -->

            <!-- Carousel -->
            <div class="col-12">
                <div id="carousel-highlights" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <!-- Card -->
                                <div class="col-lg-3 mb-3">
                                    <div class="card">
                                        <div class="img-wrapper">
                                            <img class="card-img img-fluid" alt="100%x280"
                                                src="../../../assets/images/stray-cover.jpg">
                                        </div>
                                        <div class="card-body d-flex flex-column p-0 pt-3 justify-content-between">
                                            <h6 class="card-subtitle mb-2">PS5</h6>
                                            <h3 class="card-title">Stray</h3>
                                            <h4 class="card-text">R$ 299,90</h4>
                                            <div class="d-flex flex-column">
                                                <span class="card-text">até 12x de R$ 24,99</span>
                                                <span class="card-text">ou R$ 269,91 à vista</span>
                                            </div>
                                            <app-button text="Comprar"></app-button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card -->

                                <div class="col-lg-3 mb-3">
                                    <div class="card">
                                        <img class="card-img img-fluid" alt="100%x280"
                                            src="../../../assets/images/nba-2k22-cover.jpg" />
                                        <div class="card-body d-flex flex-column p-0 pt-3 justify-content-between">
                                            <h6 class="card-subtitle mb-2">PS4</h6>
                                            <h3 class="card-title">NBA 2K22</h3>
                                            <h4 class="card-text">R$ 199,90</h4>
                                            <div class="d-flex flex-column">
                                                <span class="card-text">até 12x de R$ 16,59</span>
                                                <span class="card-text">ou R$ 179,99 à vista</span>
                                            </div>
                                            <app-button text="Comprar"></app-button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 mb-3">
                                    <div class="card">
                                        <img class="card-img img-fluid" alt="100%x280"
                                            src="../../../assets/images/re-village-cover.png" />
                                        <div class="card-body d-flex flex-column p-0 pt-3 justify-content-between">
                                            <h6 class="card-subtitle mb-2">PC</h6>
                                            <h3 class="card-title">Resident Evil Village</h3>
                                            <h4 class="card-text">R$ 149,90</h4>
                                            <div class="d-flex flex-column">
                                                <span class="card-text">até 12x de R$ 12,49</span>
                                                <span class="card-text">ou R$ 134,99 à vista</span>
                                            </div>
                                            <app-button text="Comprar"></app-button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 mb-3">
                                    <div class="card">
                                        <img class="card-img img-fluid" alt="100%x280"
                                            src="../../../assets/images/ac-valhalla-cover.jpg" />
                                        <div class="card-body d-flex flex-column p-0 pt-3 justify-content-between">
                                            <h6 class="card-subtitle mb-2">Xbox Series X | S</h6>
                                            <h3 class="card-title">Assassin's Creed Valhalla</h3>
                                            <h4 class="card-text">R$ 249,90</h4>
                                            <div class="d-flex flex-column">
                                                <span class="card-text">até 12x de R$ 20,79</span>
                                                <span class="card-text">ou R$ 224,91 à vista</span>
                                            </div>
                                            <app-button text="Comprar"></app-button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-3 mb-3">
                                    <div class="card">
                                        <div class="img-wrapper">
                                            <img class="card-img img-fluid" alt="100%x280"
                                                src="../../../assets/images/stray-cover.jpg">
                                        </div>
                                        <div class="card-body d-flex flex-column p-0 pt-3 justify-content-between">
                                            <h6 class="card-subtitle mb-2">PS5</h6>
                                            <h3 class="card-title">Stray</h3>
                                            <h4 class="card-text">R$ 299,90</h4>
                                            <div class="d-flex flex-column">
                                                <span class="card-text">até 12x de R$ 24,99</span>
                                                <span class="card-text">ou R$ 269,91 à vista</span>
                                            </div>
                                            <app-button text="Comprar"></app-button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <div class="card">
                                        <img class="card-img img-fluid" alt="100%x280"
                                            src="../../../assets/images/nba-2k22-cover.jpg" />
                                        <div class="card-body d-flex flex-column p-0 pt-3 justify-content-between">
                                            <h6 class="card-subtitle mb-2">PS4</h6>
                                            <h3 class="card-title">NBA 2K22</h3>
                                            <h4 class="card-text">R$ 199,90</h4>
                                            <div class="d-flex flex-column">
                                                <span class="card-text">até 12x de R$ 16,59</span>
                                                <span class="card-text">ou R$ 179,99 à vista</span>
                                            </div>
                                            <app-button text="Comprar"></app-button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <div class="card">
                                        <img class="card-img img-fluid" alt="100%x280"
                                            src="../../../assets/images/re-village-cover.png" />
                                        <div class="card-body d-flex flex-column p-0 pt-3 justify-content-between">
                                            <h6 class="card-subtitle mb-2">PC</h6>
                                            <h3 class="card-title">Resident Evil Village</h3>
                                            <h4 class="card-text">R$ 149,90</h4>
                                            <div class="d-flex flex-column">
                                                <span class="card-text">até 12x de R$ 12,49</span>
                                                <span class="card-text">ou R$ 134,99 à vista</span>
                                            </div>
                                            <app-button text="Comprar"></app-button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <div class="card">
                                        <img class="card-img img-fluid" alt="100%x280"
                                            src="../../../assets/images/ac-valhalla-cover.jpg" />
                                        <div class="card-body d-flex flex-column p-0 pt-3 justify-content-between">
                                            <h6 class="card-subtitle mb-2">Xbox Series X | S</h6>
                                            <h3 class="card-title">Assassin's Creed Valhalla</h3>
                                            <h4 class="card-text">R$ 249,90</h4>
                                            <div class="d-flex flex-column">
                                                <span class="card-text">até 12x de R$ 20,79</span>
                                                <span class="card-text">ou R$ 224,91 à vista</span>
                                            </div>
                                            <app-button text="Comprar"></app-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Indicators -->
                    <div class="carousel-indicators highlights-indicators bg-transparent">
                        <button type="button" data-bs-target="#carousel-highlights" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carousel-highlights" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <!-- Indicators -->

                </div>
            </div>
            <!-- Carousel -->

        </div>
    </div>
</section>
<!-- Trending Products Carousel -->

<!-- Highlited Products Carousel -->
<section class="highlights-carousel pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class="mb-3">Mais Vendidos</h2>
            </div>
            <div class="col-12">
                <div id="carousel-highlights" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-3 mb-3">
                                    <div class="card">
                                        <div class="img-wrapper">
                                            <img class="card-img img-fluid" alt="100%x280"
                                                src="../../../assets/images/stray-cover.jpg">
                                        </div>
                                        <div class="card-body d-flex flex-column p-0 pt-3 justify-content-between">
                                            <h6 class="card-subtitle mb-2">PS5</h6>
                                            <h3 class="card-title">Stray</h3>
                                            <h4 class="card-text">R$ 299,90</h4>
                                            <div class="d-flex flex-column">
                                                <span class="card-text">até 12x de R$ 24,99</span>
                                                <span class="card-text">ou R$ 269,91 à vista</span>
                                            </div>
                                            <app-button text="Comprar"></app-button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <div class="card">
                                        <img class="card-img img-fluid" alt="100%x280"
                                            src="../../../assets/images/nba-2k22-cover.jpg" />
                                        <div class="card-body d-flex flex-column p-0 pt-3 justify-content-between">
                                            <h6 class="card-subtitle mb-2">PS4</h6>
                                            <h3 class="card-title">NBA 2K22</h3>
                                            <h4 class="card-text">R$ 199,90</h4>
                                            <div class="d-flex flex-column">
                                                <span class="card-text">até 12x de R$ 16,59</span>
                                                <span class="card-text">ou R$ 179,99 à vista</span>
                                            </div>
                                            <app-button text="Comprar"></app-button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <div class="card">
                                        <img class="card-img img-fluid" alt="100%x280"
                                            src="../../../assets/images/re-village-cover.png" />
                                        <div class="card-body d-flex flex-column p-0 pt-3 justify-content-between">
                                            <h6 class="card-subtitle mb-2">PC</h6>
                                            <h3 class="card-title">Resident Evil Village</h3>
                                            <h4 class="card-text">R$ 149,90</h4>
                                            <div class="d-flex flex-column">
                                                <span class="card-text">até 12x de R$ 12,49</span>
                                                <span class="card-text">ou R$ 134,99 à vista</span>
                                            </div>
                                            <app-button text="Comprar"></app-button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <div class="card">
                                        <img class="card-img img-fluid" alt="100%x280"
                                            src="../../../assets/images/ac-valhalla-cover.jpg" />
                                        <div class="card-body d-flex flex-column p-0 pt-3 justify-content-between">
                                            <h6 class="card-subtitle mb-2">Xbox Series X | S</h6>
                                            <h3 class="card-title">Assassin's Creed Valhalla</h3>
                                            <h4 class="card-text">R$ 249,90</h4>
                                            <div class="d-flex flex-column">
                                                <span class="card-text">até 12x de R$ 20,79</span>
                                                <span class="card-text">ou R$ 224,91 à vista</span>
                                            </div>
                                            <app-button text="Comprar"></app-button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>



                    </div>
                    <div class="carousel-indicators highlights-indicators bg-transparent">
                        <button type="button" data-bs-target="#carousel-highlights" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carousel-highlights" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Highlited Products Carousel -->